.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 64px 0 64px;
}

.image {
  width: 600px;
  height: 338px;
  border: solid;
  border-color: var(--primary);
  border-width: 5px;
  border-radius: 4px;
}

.description {
  padding: 12px 128px 0 128px;
  text-align: justify;
}
