.counter {
  border: 4px solid var(--primary);
  border-radius: 4px;
}

.container {
  border: 4px solid var(--accent);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;

  margin: 24px auto 0 auto;
}
