:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text: #eefbf7;
  --background: #010403;
  --primary: #2fb68e;
  --secondary: #1d3972;
  --accent: #2e2aa2;
}

* {
  font-family: JetBrains Mono;
}

body {
  font-weight: 400;
  background-color: var(--background);
}

input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 8px;
  font-weight: 700;
  color: var(--text);
}

hr {
  color: var(--primary);
}

input {
  background: transparent;
  text-decoration: none;
  cursor: pointer;

  border: 4px solid var(--primary);
  border-radius: 4px;

  width: fit-content;
  transition: 0.25s ease-out;
  transition: 0.25s ease-in;
}

button {
  background: transparent;
  text-decoration: none;
  cursor: pointer;

  border: 4px solid var(--primary);
  border-radius: 4px;
  margin: 0 12px 0 12px;

  width: fit-content;
  transition: 0.25s ease-out;
  transition: 0.25s ease-in;
}

button:hover {
  background-color: var(--accent);
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5,
button,
input {
  font-size: 1.333rem; /* 21.28px */
}

h6 {
  font-size: 0.75rem; /* 12px */
}
