.container {
  border: 4px solid var(--primary);
  padding: 24px;
  height: 91vh;
  display: flex;
  flex-direction: column;
}

.bar {
  border: 4px solid var(--accent);
  padding: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form {
  border: 4px solid var(--accent);
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 8px;
}
